<!DOCTYPE html>
<html>
<head>
    <title>Spacey Madlibs</title>
</head>
<body>
    <h1>Spacey Madlibs</h1>

    <br>

    <form action="/madlib">
        
        <label>Name:</label>
        <input type="text" name="person">

        <br>

        <label>Color:</label>
        <input type="text" name="color">

        <br>

        <label>Noun:</label>
        <select name="noun">
            <option>satelite</option>
            <option>nebula</option>
            <option>flex capacitor</option>
            <option>super nova</option>
            <option>dwarf star</option>
            <option>black hole</option>
            <option>orbit</option>
            <option>pluto</option>
            <option>zero g</option>
            <option>dolphin</option>
            <option>Little Prince</option>
            <option>Weird Al</option>
            <option>Flying Spaghetti Monster</option>
        </select>

        <br>

        <label>Adjective:</label>
        <select name="adjective">
            <option>explosive</option>
            <option>sparkling</option>
            <option>imploding</option>
            <option>bursting</option>
            <option>combusting</option>
            <option>floating</option>
            <option>shooting</option>
            <option>dark</option>
            <option>bright</option>
            <option>luminescent</option>
            <option>shiney</option>
            <option>distant</option>
            <option>metallic</option>
        </select>

        <br>

        <input type="submit">
    </form>
</body>
</html>